.proyectosContainer{
    margin-bottom: 8rem;
}

.proyectosContainer > h3{
    color: var(--green);
    margin-bottom: 8rem ;
    font-size: 5rem;
    text-align: center;
}

.filterContainer{
    text-align: center;
}


.filterContainer > label{
    font-size: 1.3rem;
}

.filterContainer > select{
    padding: 5px 10px;
    border-radius: 10px;
    border: solid 3px var(--green);
    font-size: 1rem;
    cursor: pointer;
}

.filterContainer > option{
    background-color: none;
    font-size: 4rem;
}

.proyectosList{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.proyectoCard{
    position: relative;
    max-width: 100%;
    height: 500px;
}

.proyectoImage{
    height: 100%;
    width: 100%;
}

.proyectoName{
    text-decoration: none;
    position: absolute;
    left: 20px;
    bottom: 0;
    background-color: var(--green);
    color: var(--custom-white);
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}
