<div class="bannerContainer">
  <div class="bannerContent">
    <div class="fade">
      <h2 class="title"><span>+25</span> años de experiencia</h2>
    </div>
  </div>
</div>

<style>

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .bannerContainer {
    height: 100vh;
    max-width: 100vw;
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bannerContent {
    background-image: url(../../images/bannerExperiencia.jpg);
    background-size: cover;
    background-position: center;
    background-position-y: -250px;
    height: 80%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fade {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    color: var(--custom-white);
    font-size: 6rem;
    cursor: default;
    transition: scale ease-in-out 0.4s;
  }

  .title > span {
    color: var(--green);
  }

  .title:hover{
    scale: 1.1;
  }  


  @media (min-width: 1024px) and (max-width: 1200px) {
    .bannerContainer {
    height: 100vh;
    max-width: 100vw;
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bannerContent {

    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
  }

  .title {
    font-size: 5rem;
  }
  }

  /* Tablets pequeñas (768px a 1024px) */
  @media (min-width: 768px) and (max-width: 1024px) {
    .bannerContainer {
    height: 100vh;
    max-width: 100vw;
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bannerContent {
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
  }

  .title {
    font-size: 4rem;
  }
    }

  /* Móviles grandes (576px a 768px) */
  @media (min-width: 576px) and (max-width: 768px) {
    .bannerContainer {
    height: 100vh;
    max-width: 100vw;
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bannerContent {
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
  }

  .title {
    font-size: 3rem;
  }
  }

  /* Móviles pequeños (menor a 576px) */
  @media (max-width: 575px) {
    .bannerContainer {
    height: 100vh;
    max-width: 100vw;
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bannerContent {
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
  }

  .title {
    font-size: 4rem;
    text-align: center;
  }
}

  /* dispositivos muy pequenos como iphone 5 */
  @media (min-width: 320px) and (max-width: 568px) {
    .bannerContainer {
    height: 100vh;
    max-width: 100vw;
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bannerContent {
    background-size: cover;
    background-position: center;
    height: 80%;
    width: 100%;
  }

  .title {
    font-size: 2.5rem;
    text-align: center;
  }

}
</style>
