---
import facebook from "../../images/facebook.png";
import instagram from "../../images/instagram.png";
import tiktok from "../../images/tiktok.png";
import linkedin from "../../images/linkedin.png";
---

<div class="contactoContainer">
  <h2>Contacto</h2>
  <div class="contactoInfo">
    <div class="leftBox">
      <div class="infoBox">
        <strong>Dirección</strong>
        <p>Distrito Artemisa, Torre Norte, Piso 16, Local 1623</p>
      </div>
      <div class="infoBox">
        <strong>Teléfono</strong>
        <a href="https://wa.me/32592977" target="_blank">(+504) 3259-2977</a>
      </div>
      <div class="infoBox">
        <strong>Correo</strong>
        <a href="mailto:construcciones@midence-hn.com">construcciones@midence-hn.com</a>
      </div>
      <div class="iconsBox">
        <a href="https://www.facebook.com/midenceconstrucciones/" target="_blank" title="Enlace página de facebook">
          <img class="icon" src={facebook.src} alt="icono enlace facebook" loading="lazy"/>
        </a>
        <a href="https://www.instagram.com/construccionesmidence/" target="_blank" title="Enlace página de instagram">
          <img class="icon" src={instagram.src} alt="icono enlace instagram" loading="lazy"/>
        </a>
        <a href="https://www.tiktok.com/@construccionesmidence" target="_blank" title="Enlace página de tiktok">
          <img class="icon" src={tiktok.src} alt="icono enlace tiktok" loading="lazy"/>
        </a>
        <a href="https://www.linkedin.com/company/construcciones-midence/?originalSubdomain=hn" target="_blank" title="Enlace página de linkedin">
          <img class="icon" src={linkedin.src} alt="icono enlace linkedin" loading="lazy"/>
        </a>
      </div>
    </div>
    <div class="iframe">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3869.918154938466!2d-87.16982322490368!3d14.082008586345172!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6fbd004e7202f9%3A0x9df9546ae140d232!2sDistrito%20Artemisa%20Torre%202!5e0!3m2!1ses-419!2shn!4v1737256862236!5m2!1ses-419!2shn"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        title="Direccion de Construcciones Midence en Google Maps"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>

<style>
  .contactoContainer {
    margin: 3rem 0;
    padding: 0 5rem;
    height: auto;
    max-width: 100vw;
  }

  .contactoContainer > h2 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--green);
    font-size: 4rem;
  }

  .contactoInfo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .leftBox {
    width: 50%;
  }

  .infoBox {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
  }

  .infoBox > strong {
    font-size: 1.8rem;
    margin: 0.5rem 0;
  }

  .infoBox > p {
    font-size: 1.1rem;
  }

  .infoBox > a {
    text-decoration: underline;
    font-size: 1.1rem;
    color: var(--green);
  }

  .iconsBox{
    margin: 2rem 0;
  }

  .iconsBox > a{
    text-decoration: none;
    margin: 0 1rem 0 0;
  }

  .icon{
    height: 40px;
    width: 40px;
    transition: transform 0.1s ease-in;
  }

  .icon:hover{
    transform: scale(1.2);
  }

  .iframe{
    width: 60%;
    height: 500px;
    display: flex;
    justify-content: center;
  }

  iframe{
    height: 100%;
    width: 100%;
  }


  /* Tablets pequeñas (768px a 1024px) */
  @media (min-width: 768px) and (max-width: 1024px) {
    .contactoContainer {
    margin: 3rem 0;
    padding: 0 3rem;
    height: auto;
    max-width: 100vw;
  }

  .contactoContainer > h2 {
    color: var(--green);
    font-size: 4rem;
  }

  .contactoInfo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .leftBox {
    width: 50%;
  }

  .infoBox {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
  }

  .infoBox > strong {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }

  .infoBox > p {
    font-size: 1.1rem;
    width: 80%;
  }

  .infoBox > a {
    text-decoration: underline;
    font-size: 1.1rem;
    color: var(--green);
  }

  .iconsBox{
    margin: 2rem 0;
  }

  .iconsBox > a{
    text-decoration: none;
    margin: 0 1rem 0 0;
  }

  .icon{
    height: 40px;
    width: 40px;
    transition: transform 0.1s ease-in;
  }

  .icon:hover{
    transform: scale(1.2);
  }

  .iframe{
    width: 60%;
    height: 500px;
    display: flex;
    justify-content: center;
  }

  iframe{
    height: 100%;
    width: 100%;
  }
  }

  /* Móviles grandes (576px a 768px) */
  @media (min-width: 576px) and (max-width: 768px) {
    .contactoContainer {
    margin: 3rem 0;
    padding: 0 0.5rem;
  }

  .contactoContainer > h2 {
    font-size: 5rem;
    text-align: center;
  }

  .contactoInfo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: flex-start;
    align-items: center;
  }

  .leftBox {
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  .infoBox {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .infoBox > strong {
    font-size: 2.5rem;
    margin: 0.5rem 0;
  }

  .infoBox > p {
    font-size: 1.3rem;
    text-align: center;
  }

  .infoBox > a {
    text-decoration: underline;
    font-size: 1.3rem;
    margin: 0.5rem 0;

  }

  .iconsBox{
    margin: 2rem 0;
    text-align: center;
  }

  .iconsBox > a{
    text-decoration: none;
    margin: 0 1rem 0 0;
  }

  .icon{
    height: 40px;
    width: 40px;
    transition: transform 0.1s ease-in;
  }


  .iframe{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
  }

  iframe{
    height: 100%;
    width: 100%;
  }
    
  }


  /* dispositivos muy pequenos como iphone 5 */
  @media (min-width: 320px) and (max-width: 575px) {
    .contactoContainer {
    margin: 3rem 0;
    padding: 0 0.5rem;
  }

  .contactoContainer > h2 {
    font-size: 4rem;
    text-align: center;
  }

  .contactoInfo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-content: flex-start;
    align-items: center;
  }

  .leftBox {
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  .infoBox {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .infoBox > strong {
    font-size: 2rem;
    margin: 0.5rem 0;
  }

  .infoBox > p {
    font-size: 1.1rem;
    text-align: center;
  }

  .infoBox > a {
    text-decoration: underline;
    font-size: 1.1rem;
    margin: 0.5rem 0;

  }

  .iconsBox{
    margin: 2rem 0;
    text-align: center;
  }

  .iconsBox > a{
    text-decoration: none;
    margin: 0 1rem 0 0;
  }

  .icon{
    height: 40px;
    width: 40px;
    transition: transform 0.1s ease-in;
  }


  .iframe{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
  }

  iframe{
    height: 100%;
    width: 100%;
  }
  }



</style>
