---
import user from "../../images/user.jpg";
import clientes from "../../images/clientes.png"
---

<div class="TestimoniosContainer">
  <div class="titles">
<!--     <h3>Ellos confían en nuestra experiencia, tú también puedes</h3> -->
    <h2>Ellos confían en nuestra experiencia, tú también puedes</h2>
  </div>
  <div class="testimonies">
    <img src={clientes.src} alt="imagen empresas que trabajaron con Construcciones Midence" loading="lazy"/>
    <!-- <div class="card">
      <img class="user" src={user.src} />
      <h3>Nancy Espinal</h3>
      <p>
        Gracias a Construcciones Midence, logramos un diseño que optimiza el
        espacio y superó nuestras expectativas. Ahora tenemos un entorno hermoso
        y funcional.
      </p>
    </div>
    <div class="card">
      <img class="user" src={user.src} />
      <h3>Nancy Espinal</h3>
      <p>
        Gracias a Construcciones Midence, logramos un diseño que optimiza el
        espacio y superó nuestras expectativas. Ahora tenemos un entorno hermoso
        y funcional.
      </p>
    </div>
    <div class="card">
      <img class="user" src={user.src} />
      <h3>Nancy Espinal</h3>
      <p>
        Gracias a Construcciones Midence, logramos un diseño que optimiza el
        espacio y superó nuestras expectativas. Ahora tenemos un entorno hermoso
        y funcional.
      </p>
    </div>
  </div> -->
</div>

<style>
  .titles > h3 {
    text-align: center;
    color: var(--green);
    font-size: 3rem;
    margin: 0 0;
  }

  .titles > h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: var(--green);
    font-size: 4rem;
    margin: 0 0;
    letter-spacing: 3px;
  }

  .testimonies {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .card {
    height: 400px;
    width: 300px;
    background-color: var(--blue);
    color: var(--custom-white);
    border-radius: 10px;
    padding: 0 0.8rem;
    margin: 0 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition:
      background-color ease-in 0.2s,
      color ease-in 0.2s;
  }

  .card:hover {
    background-color: var(--green);
    color: var(--black);
  }

  .card > h3 {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0 0 0;
  }

  .card > p {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.4;
  }

  .user {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100px;
  }

  /* Tablets pequeñas (768px a 1024px) */
  @media (min-width: 768px) and (max-width: 1024px) {
    .titles > h3 {
    font-size: 2.5rem;
  }

  .titles > h2 {
    font-size: 4rem;
    letter-spacing: 3px;
    margin: 0 0.5rem;
  }

  .testimonies {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonies > img{
    height: auto;
    width: 600px;
  }

  .card {
    height: auto;
    width: 280px;
    padding: 1rem 0.8rem;
    margin: 1rem 0rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .card > h3 {
    font-size: 2rem;
    margin: 1rem 0 0 0;
  }

  .card > p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
  }

  .user {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100px;
  }
  }

  @media (min-width: 576px) and (max-width: 767px) {
    .titles > h3 {
    font-size: 2.2rem;
  }

  .titles > h2 {
    font-size: 2.5rem;
    margin: 0 0.5rem;
  }

  .testimonies {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonies > img{
    height: 240px;
    width: auto;
  }

  .card {
    height: auto;
    width: 280px;
    padding: 1rem 0.8rem;
    margin: 1rem 0rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .card > h3 {
    font-size: 2rem;
    margin: 1rem 0 0 0;
  }

  .card > p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
  }

  .user {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100px;
  }
    
}

  /* Móviles pequeños (menor a 576px) */
  @media (max-width: 575px) {
    .titles > h3 {
    font-size: 1.5rem;
  }

  .titles > h2 {
    font-size: 2.5rem;
    letter-spacing: 3px;
    margin: 0 0.5rem;
  }

  .testimonies {
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonies > img{
    height: 28vh;
    width: auto;
  }

  .card {
    height: auto;
    width: 280px;
    padding: 1rem 0.8rem;
    margin: 1rem 0rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .card > h3 {
    font-size: 2rem;
    margin: 1rem 0 0 0;
  }

  .card > p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
  }

  .user {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100px;
  }
  }

</style>
