<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <meta
      name="description"
      content="Construcciones Midence: Servicios de construcción, remodelación y diseño en Honduras. Calidad, seguridad y eficiencia en cada proyecto."
    />

    <!-- Meta palabras clave (Google ya no las usa mucho, pero pueden ayudar en otros motores) -->
    <meta
      name="keywords"
      content="construcción en Honduras, empresas constructoras, construcción de edificios, remodelaciones, diseño arquitectónico, obras civiles, construcción residencial, construcción comercial"
    />

    <!-- Meta etiqueta de idioma -->
    <meta name="language" content="es" />
    <!-- Preload de la fuente Inter -->
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript
      ><link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      /></noscript
    >

    <!-- Preconnect para optimizar la carga -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Estilo de la fuente -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- Open Graph (para Facebook, LinkedIn y otros) -->
    <meta property="og:image" content="/public/icon.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Logo Construcciones Midence empresa lider en las contrucciones en Honduras" />
    <title>Construcciones Midence</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    --blue: #1e5b80;
    --green: #8ac73e;
    --custom-dark: #020202;
    --custom-white: #fdfffc;
    font-family: "Inter", serif;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
</style>
